<!DOCTYPE html>
<html>
<!--################### begin head #################################-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/custom.css" rel="stylesheet">
		<script src="/static/js/respond.js"></script>
    <title>Zach Swift | Web Developer</title>
  </head>
<!--################### end head #################################-->

<!--################### start body #################################-->
  <body>
    <div class="container">

<!--################### begin nav bar #################################-->

          <header class='page-header'>

            <ul class='nav nav-pills pull-right'>

                <li class='active'><a href="about" ><h4>About</h4></a></li>


                <li><a href="resume"><h4>Resume</h4></a></li>


                <li><a href="contact" ><h4>Contact</h4></a></li>

            </ul><!--end navbar-->
            <a href="/"><h1>Zach Swift</h1></a>
          </header>

    <div id="row">
      <div class='col-sm-12 col-md-4'>
        <img src="static/img/zach.jpg" alt="Photo of Zach Swift" width=200 class="img-responsive img-circle center-block">
      </div>


      <div class="col-sm-12 col-md-8">
        <p class="para">I was born and raised in the swamp lands of Southeast Missouri.
      		That was my home until I was 20. I moved to Arizona for about a year
          where I graduated from The Conservatory of Recoring Arts and Sciences.
      		I ended up in Nashville for a music industry internship and found a
      		lot of things that made Nashville feel like home. </p>
        <p>I've spent the last year and a half studying software and web developement.
          I recently graduated from O'Reilly School of Technology earning a Certificate
          of Professional Development for Python Programming.
    		</p>
          <p>Some of the example code on my GitHub page is from school projects and
          some are personal projects.
      		I'm constantly trying to learn new subjects within the software field. I'm
      		passionate, hard-working, team oriented, and looking forward to making a life-long
      		career in this field. </p>

        </div>

      </div>

    </div>
  </body>
</html>
