<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Zach Swift | Web Developer</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/responsive.css">
  </head>

  <body>

    <header>
      <a href="/" id="logo">
        <h1>Zach Swift</h1>
        <h2>Web Developer</h2>
      </a>
      <nav>
        <ul>
          <li><a href="/" >Portfolio</a></li>
          <li><a href="about" class="selected">About</a></li>
          <li><a href="resume">Resume</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div id="wrapper">
      <section>
        <img src="static/img/zach.jpg" alt="Photo of Zach Swift" class="profile-photo">
        <div class="about">
		<h3>About</h3>
        <p class="para">I was born and raised in the swamp lands of Southeast Missouri.
		That was my home until I was 20. I moved to Arizona for about a year
		and ended up in Nashville for a music industry internship. I found a
		lot of things here that made Nashville feel like home. </p>
    <p>I've spent the
		last year studying software and web developement almost obsessively. It has become such a passion for me,
		recently prompting me to enroll with
		O'Reilly School of Technology to study Python Programming.
		</p>
    <p>Some of the example code on my GitHub page is from school projects and
    some are personal projects. Initially these  will be pretty basic projects but I will be continually updating and evolving the site as I complete more advanced material.</p>
		<p class="para">I'm constantly trying to learn new subjects within the software field. I'm
		passionate, hard-working, team oriented, and looking forward to making a life-long
		career in this field. </p>

        </div>

      </section>
      <footer>
        <a href="http://twitter.com/zachswift"><img src="static/img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="http://facebook.com/zachswiftmusic"><img src="static/img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
        <p>&copy; 2014 Zach Swift</p>
      </footer>
    </div>
  </body>
</html>
