<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Zach Swift | Web Developer</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>


    <header>
      <a href="/" id="logo">
        <h1>Zach Swift</h1>
        <h2>Web Developer</h2>
      </a>
      <nav>
        <ul>
          <li><a href="/">Portfolio</a></li>
          <li><a href="about" >About</a></li>
          <li><a href="resume">Resume</a></li>
          <li><a href="contact" >Contact</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>
