<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/grid.css" rel="stylesheet">
        <link href="/static/css/custom.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
        {% block style %}{% endblock %}
        <title>Zach Swift | Web Developer</title>
    </head>
<body>
    <header class='page-header'>
        <ul class='nav nav-pills pull-right'>
            <li><a href="about" ><h4>About</h4></a></li>
            <li><a href="resume"><h4>Resume</h4></a></li>
            <li><a href="contact" ><h4>Contact</h4></a></li>
        </ul>
    </header>

    {% block content %}
    {% endblock %}

    <p>&copy; 2016 Zach Swift</p>


    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
