<!DOCTYPE html>
<html>
<!--################### begin head #################################-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/custom.css" rel="stylesheet">
		<script src="/static/js/respond.js"></script>
    <title>Zach Swift | Web Developer</title>
  </head>
<!--################### end head #################################-->

<!--################### start body #################################-->
  <body>
    <div class="container">

<!--################### begin nav bar #################################-->

          <header class='page-header'>

            <ul class='nav nav-pills pull-right'>

                <li><a href="about" ><h4>About</h4></a></li>


                <li><a href="resume"><h4>Resume</h4></a></li>


                <li><a href="contact" ><h4>Contact</h4></a></li>

            </ul><!--end navbar-->
            <a href="/"><h1>Zach Swift</h1></a>
          </header>

<!--################### end of header #################################-->

<!--################### begin source and project links #####################-->
        <div class='row'>
          <div class='col-md-12'>
            <blockquote>
              <p>{{tagline}}
                </p>

              </blockquote>

            </div>

        </div>



<!--################### end of source and project links ###################-->
          <div class='row'>
            <div class='row-same-height'>
              <div class=' col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-height '>
                <div  class="panel panel-default panel-primary panel-primary">
                  <div class='panel-heading'>
                   <h1 class='panel-title'> <a href="http://www.peachyplanet.us" >Peachy Planet</a></h1>
                  </div>
                  <div class='panel-body'>

                    <a class='btn btn-default btn-lg btn-block' href="https://github.com/2achary/peachy_planet">View source code</a>

                    <p><a href="http://www.peachyplanet.us">www.peachyplanet.us</a></p>

                    <p>This is a very basic social website built with: </p>

                    <ul class=bullets>
                    <li>Python and Flask </li>
                    <li>Bcrypt, wtforms, and Flask-login</li>

                    <li>Peewee as the ORM for the database</li>
                    <li>HTML, CSS, and JavaScript for the front-end</li>
                    </ul>

                    <p><a href="http://www.peachyplanet.us"
                          target="_blank">
                        <img class='img-responsive img-thumbnail'
                             src="https://github.com/2achary/peachy_planet/raw/master/static/img/peachyplanet.PNG"
                             alt="alt text"
                             title="Screen Shot of website" ></a></p>
                </div>
              </div>
              </div>



                  <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-height'>
                    <div  class="panel panel-default panel-primary panel-primary">
                      <div class='panel-heading'>
                        <h1 class='panel-title'><a href="http://www.cellmefood.com" >Cell Me Food</a></h1>
                      </div>
                      <div class='panel-body'>

                        <a class='btn btn-default btn-lg btn-block' href="https://github.com/WTFox/cellmefood">View source code</a>

                        <p><a href="http://www.cellmefood.com">www.cellmefood.com</a></p>


                        <p>
                          A recipe texting service built for Hack Tennessee 7 using:
                        </p>

                        <ul class=bullets>
                            <li>Python, Flask and Twilio</li>
                            <li>HTML/CSS/JavaScript/jQuery</li>

                        </ul>
                        <p><a href="http://www.cellmefood.com" target="_blank"><img class='img-responsive img-thumbnail' src="/static/img/cellmefood.png" alt="alt text" title="Screen Shot of website" ></a></p>
                    </div>
                  </div>
                  </div>



              <div class='  col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-height'>
                <div class='panel panel-default panel-primary '>

                    <div class='panel-heading'>
                      <h1 class='panel-title'><a  href="http://www.taskdaddy.info" >TaskDaddy</a></h1>
                    </div>
                    <div  class="panel-body">
                    <a class='btn btn-default btn-lg btn-block' href="https://github.com/2achary/superlists">View source code</a>

                    <p><a href="http://www.taskdaddy.info">http://www.taskdaddy.info</a></p>

                    <p>Demonstrates:</p>
                    <ul class=bullets>
                        <li>Python/Django Unit and Functional Testing </li>

                        <li>Python-Fabric deployment automation</li>

                        <li>Uses Django's built in ORM </li>
                    </ul>



                    <a href="https://github.com/2achary/superlists/blob/master/taskdaddy.png" target="_blank"><img class='img-responsive img-thumbnail' src="https://github.com/2achary/superlists/raw/master/taskdaddy.png" alt="alt text"></a>
                </div>
              </div>
              </div>



              <div class=' col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-height'>
                <div  class="panel panel-default panel-primary" >
                  <div class='panel-heading'>
                    <h1 class='panel-title'><a href="http://2achary.pythonanywhere.com">Place Holder Image Server</a></h1>
                  </div>

                  <div class='panel-body'>
                    <a class='btn btn-default btn-lg btn-block' href="https://github.com/2achary/placeholder">View source code</a>

                    <p><a href="http://2achary.pythonanywhere.com">2achary.pythonanywhere.com</a></p>

                    <p>Service to embed placeholder images using:</p>
                      <ul class=bullets>
                          <li>Django in a single file fashion</li>
                          <li>Pillow image library for python</li>
                      </ul>

                    <p><a href="https://2achary.pythonanywhere.com" target="_blank"><img class='img-responsive img-thumbnail' src="https://github.com/2achary/placeholder/raw/master/placeholder.png"></a></p>
                  </div>
                </div>
              </div>

              <div class=' col-xs-12 col-sm-12 col-md-6 col-lg-4 col-lg-height'>
                <div  class="panel panel-default panel-primary" >
                    <div class='panel-heading'>
                      <h1 class='panel-title'><a href="http://github.com/2achary/Email-Program">Email-Application</a></h1>
                    </div>
                    <div class='panel-body'>

                        <a class='btn btn-default btn-lg btn-block' href="https://github.com/2achary/Email-Program">View source code</a>

                    <p>Email search and display application using:</p>

                    <ul class=bullets>
                        <li>Python 3</li>
                        <li>MySQL</li>
                        <li>Tkinter python library</li>
                    </ul>

                    <p><a href="https://github.com/2achary/Email-Program" target="_blank"><img class='img-responsive img-thumbnail' src="https://github.com/2achary/Email-Program/raw/master/emailgui.png" alt="alt text" title="Screen shot of application running"></a></p>
                </div>
              </div>
              </div>
            </div>
          </div>




<!--################### begin footer #################################-->

          <p>&copy; 2015 Zach Swift</p>

<!--################### end footer #################################-->

</div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>

  </body>
<!--################### end body #################################-->
</html>
