{% extends 'base.html' %}
{% block content %}
    <div class="grid-container">
        <div class="row row-1">
           <div class="col-12 header-photo">
                <h1 class="name-text">Title Text</h1>
           </div>
        </div>
        <div class="row row-2">
            <div class="col-5">
                <h3>Test Heading</h3>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text.
                    It has roots in a piece of classical Latin literature from 45 BC,
                </p>
            </div>
            <div class="col-7">
                <div class="img-container"></div>
            </div>

        </div>
    </div>

{#    <div class="grid-container outline">#}
{#    <div class="row">#}
{#        <div class="col-1"><p>col-1</p></div>#}
{#        <div class="col-1"><p>col-1</p></div>#}
{#        <div class="col-1"><p>col-1</p></div>#}
{#        <div class="col-1"><p>col-1</p></div>#}
{#        <div class="col-1"><p>col-1</p></div>#}
{#        <div class="col-1"><p>col-1</p></div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-2"><p>col-2</p></div>#}
{#        <div class="col-2"><p>col-2</p></div>#}
{#        <div class="col-2"><p>col-2</p></div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-3"><p>col-3</p></div>#}
{#        <div class="col-3"><p>col-3</p></div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-4"><p>col-4</p></div>#}
{#        <div class="col-2"><p>col-2</p></div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-5"><p>col-5</p></div>#}
{#        <div class="col-1"><p>col-1</p></div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-6"><p>col-6</p></div>#}
{#    </div>#}
</div>
{% endblock %}