<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/css/lightbox.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<title>Image Gallery</title>
</head>
<body>
	<h1>Image Gallery</h1>
	<div class="backtohome">
	<h4><a href="/" class="backtohome">Back to Home</a></h4>
	</div>
	<ul id="imageGallery">

		<li><a href="static/img/cabinview.jpg"><img src="static/img/cabinview.jpg" width="150" alt="The view at our friend's cabin in Tennessee."></a></li>

		<li><a href="static/img/chiggerglamor.jpg"><img src="static/img/chiggerglamor.jpg" width="150" alt="Chigger posing on his cat shelf."></a></li>

		<li><a href="static/img/chiggerom.JPG"><img src="static/img/chiggerom.JPG" width="150" alt="Chigger with his OM (Overweight Management) prescription food."></a></li>

		<li><a href="static/img/evilcloud.jpg"><img src="static/img/evilcloud.jpg" width="150" alt="Awesome looking storm cloud downtown Nashville."></a></li>

		<li><a href="static/img/foxytrash.jpg"><img src="static/img/foxytrash.jpg" width="150" alt="Sometimes my cat, Foxy, hangs out in the trash can."></a></li>

		<li><a href="static/img/meandmom.JPG"><img src="static/img/meandmom.JPG" width="150" alt="My mom and I in the early 90's"></a></li>

		<li><a href="static/img/moon.jpg"><img src="static/img/moon.jpg" width="150" alt="I took this moon photo a few years ago in Antioch Tennessee."></a></li>

		<li><a href="static/img/seattlehike.jpg"><img src="static/img/seattlehike.jpg" width="150" alt="Jess and I went hiking at Rattle Snake Lake in Washington."></a></li>

		<li><a href="static/img/sicada.jpg"><img src="static/img/sicada.jpg" width="150" alt="Just a reminder of the Cicada invasion of 2010."></a></li>

		<li><a href="static/img/windowcats.JPG"><img src="static/img/windowcats.JPG" width="150" alt="My cats just hanging out on their window bed."></a></li>


	</ul>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/lightbox.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
