
<link rel="stylesheet" href="/static/css/main.css">
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <article class="project-div">
      <h1><a href="http://www.peachyplanet.us" >Peachy Planet</h1></a>

        <h4><a href="https://github.com/2achary/peachy_planet">View source code</a></h4>

        <p><a href="http://www.peachyplanet.us">www.peachyplanet.us</a></p>

        <p>
            The idea is co-workers of a small company may work with
            different people on different projects. This is a way for
            them to follow and unfollow each other as needed to stay
            up to date on each other's progress etc.
        </p>

        <p>This was derived from a team treehouse tutorial by Kenneth Love</p>

        <p>It is a very basic social website built with </p>

        <ul>
        <li><p>Python and Flask for the MVC web framework</p></li>
        <li><p>Bcrypt was used for hashing passwords</p></li>
        <li><p>wtforms was used for the forms and validation</p></li>
        <li><p>Flask-login was used for authentication</p></li>
        <li><p>Peewee was used as the ORM for the database.</p></li>
        <li><p>HTML, CSS, and JavaScript were used for the GUI</p></li>
        </ul>



        <p><a href="http://www.peachyplanet.us" target="_blank"><img src="https://github.com/2achary/peachy_planet/raw/master/static/img/peachyplanet.PNG" alt="alt text" title="Screen Shot of website" ></a></p>
    </article>



    <article class="project-div"><h1>
        <a  href="http://www.taskdaddy.info" >TaskDaddy</h1></a>

        <h4><a href="https://github.com/2achary/superlists">View source code</a></h4>

        <p><a href="http://www.taskdaddy.info">http://www.taskdaddy.info</a></p>

        <p>This is the project "superlists" from the book "Test Driven Development with Python"
        <strong>Still in progress</strong></p>

        <h3>
        <a id="user-content-details" class="anchor" href="#details" aria-hidden="true"><span class="octicon octicon-link"></span></a>Details</h3>

        <p>-Demonstrating knowledge of Python/Django Unit testing and Functional Testing. </p>

        <p>-Demonstrates Version Control best practices with Git and Github</p>

        <p>-Demonstrates Python-Fabric deployment automation</p>

        <p>-Uses a URL design inspired by REST e.g. each list has is own url.</p>

        <p>-Uses Django's built in ORM to interact with sqLite Database.</p>



        <p><a href="https://github.com/2achary/superlists/blob/master/taskdaddy.png" target="_blank"><img src="https://github.com/2achary/superlists/raw/master/taskdaddy.png" alt="alt text" style="max-width:100%;"></a></p>
    </article>


    <article class="project-div" ><h1>
        <a href="http://2achary.pythonanywhere.com">Place Holder Image Server</h1></a>

        <h4><a href="https://github.com/2achary/placeholder">View source code</a></h4>

        <p><a href="http://2achary.pythonanywhere.com">2achary.pythonanywhere.com</a></p>

        <p>This server can be used for serving placeholder images for any web page.</p>

        <p>To request a placeholder image of a given width and height simply include an image with the source pointing to /placeholder/x/ on this server such as:</p>

        <p><code>&lt;img src="http://localhost:8000/image/50x50/" &gt;</code></p>

        <h3>
        <a id="user-content-details" class="anchor" href="#details" aria-hidden="true"><span class="octicon octicon-link"></span></a>Details</h3>

        <p>This project demonstrates the ability to
        use Django in a single file fashion taking
        advantage of it's decoupled nature. For example,
        the <code>django-admin startproject</code> command was
        never used to create the folder structure.</p>

        <p><a href="https://2achary.pythonanywhere.com" target="_blank"><img src="https://github.com/2achary/placeholder/raw/master/placeholder.png"></a></p>
    </article>

    <article class="project-div" ><h1>
        <a href="http://github.com/2achary/Email-Program">Email-Application</h1></a>

        <h4><a href="https://github.com/2achary/Email-Program">View source code</a></h4>

        <p>MySQL, Database-backed email search and display application</p>

        <p>This was a school project and the end result was a very
        rough 'alpha' version of a program. But it demonstrates
        understanding of databases, Graphical User Interfaces,
        Python email objects, and overall object oriented concepts</p>

        <h5>Project uses</h5>
        <ul>
            <li>Python 3</li>
            <li>MySQL</li>
            <li>Handling email objects in Python</li>
            <li>Relational database design and creation</li>
            <li>Tkinter GUI python library</li>
        </ul>

        <p><a href="https://github.com/2achary/Email-Program" target="_blank"><img src="https://github.com/2achary/Email-Program/raw/master/emailgui.png" alt="alt text" title="Screen shot of application running" style="max-width:100%;"></a></p>
    </article>

    <article class="project-div" ><h1>
        <a href="https://github.com/2achary/math-quiz-cli">Python Math Quiz</h1></a>

         <h4><a href="https://github.com/2achary/math-quiz-cli">View source code</a></h4>

        <h4>A timed math quiz in python with a CLI.</h4>

        <p>Each question is timed and once an answer
        is provided, there is instant feedback
        as to whether it was right or wrong. </p>

        <p>Once all the questions have been answered,
        there is a summary of each questions correctness,
        the average time per question and total time of
        quiz.</p>

        <p>This project demonstrates the ability to manipulate
        date and time objects in Python, creating a CLI,
        input validation, string manipulation, and clean,
        modular, testable code. There are unittests
        included in the repo. </p>

        <h5>Project Uses</h5>
        <ul>
            <li>Pyton's datetime library to record and measure testing metrics</li>
            <li>Command line interface</li>
            <li>Modular, testable code</li>
            <li>Python's Unittest module with tests included</li>
        </ul>

        <p><a href="https://github.com/2achary/math-quiz-cli" target="_blank"><img src="https://github.com/2achary/math-quiz-cli/raw/master/math_quiz.png" alt="alt text" title="Math quiz output" style="max-width:100%;"></a></p>
    </article>

    <article class="project-div" ><h1>
        <a href="http://www.zachswift.me/lightbox" <a href="http://www.zachswift.me/lightbox">Lightbox page built with jQuery</a>
        </h1>

         <h4><a href="https://github.com/2achary/lightbox">View source code</a></h4>

        <p>Lightbox page with a photo gallery. Once an image is clicked, the screen dims and the photo is enlarged with a caption.</p>

        <h3>
        </a>Details</h3>

        <p>-Demonstrates knowlege of DOM manipulation with jQuery</p>

        <p>-Blocks the browser's default behavior after clicking a link </p>

        <p>-Adds screen overlay to darken everything but the enlarged photo and caption</p>

        <p><a href="https://www.zachswift.me/lightbox/" target="_blank"><img src="https://github.com/2achary/lightbox/raw/master/images/lightbox.png" alt="alt text" style="max-width:100%;"></a></p>
</article>


{% endblock %}
