<!DOCTYPE html>
<html>
<!--################### begin head #################################-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/custom.css" rel="stylesheet">
		<script src="/static/js/respond.js"></script>
    <title>Zach Swift | Web Developer</title>
  </head>
<!--################### end head #################################-->

<!--################### start body #################################-->
  <body>
    <div class="container">

<!--################### begin nav bar #################################-->

          <header class='page-header'>

            <ul class='nav nav-pills pull-right'>

                <li><a href="about" ><h4>About</h4></a></li>


                <li class='active'><a href="resume"><h4>Resume</h4></a></li>


                <li><a href="contact" ><h4>Contact</h4></a></li>

            </ul><!--end navbar-->
            <a href="/"><h1>Zach Swift</h1></a>
          </header>

<!--################### end of header #################################-->

<div class='row'>
	<div class='col-md-8'>

	<h4 class="contactline"><a href="tel:615-509-9910">615-509-9910</a> | <a href="mailto:zacharyswift@gmail.com">zacharyswift@gmail.com</a> | <a href='/'>zachswift.me</a></h4>



	<h3>PROFILE</h3>
	<p>
		I'm a junior web developer that just graduated from O'Reilly
			School of Technology. Looking forward to applying my skill set
			with a great company, and to learn as much as I can along the way.
	</p>

	<h3>SKILLS</h3>
	<table class='table'>
		<tr>
			<td>Python for Web</td> <td>Django, Flask, Jinja2, wtforms</td>
		</tr>

		<tr>
			<td>Database</td> <td>MySQL, SQLite3, Peewee, Django ORM
</td>
		</tr>

		<tr>
			<td>Testing</td> <td>Unittest, Doctest, Selenium</td>
		</tr>

		<tr>
			<td>JavaScript</td> <td>jQuery</td>
		</tr>

		<tr>
			<td>HTML/CSS</td> <td>Bootstrap, Responsive Design</td>
		</tr>

		<tr>
			<td>OS</td><td>Ubuntu, Windows 7 and 8, Mac OSX</td>
		</tr>

		<tr>
			<td>Deployment</td><td>Fabric automation, Gunicorn, Nginx, Python Anywhere
</td>
		</tr>

		<td>General Programming</td><td>Git version control, Unit Testing, Functional Testing, Paired Programming, Unix console, object oriented techniques, design and  implementation of relational databases,  regular expressions, input validation, API design, logging, date and time manipulation, configuration files, parsing command line arguments, MVC Frameworks
</td>
	</tr>

	</table>

        <h3>EDUCATION</h3>
        <table class='table'>

            <tr>
                <td>O'Reilly School of Technology</td><td>Online</td><td>2014-2015</td><td>Python Programming Certificate</td>
            </tr>

            <tr>
                <td>Convervatory of Recording Arts and Sciences</td><td>Tempe AZ</td><td>2008-2009</td><td>Master Recording Program</td>
            </tr>

            <tr>
                <td>SEMO University</td><td>Sikeston MO</td><td>2006</td><td>General Studies</td>
            </tr>


             <tr>
                <td>Sikeston Senior High</td><td>Sikeston MO</td><td>2005</td><td>High School Diploma</td>
            </tr>

        </table>

		<h3>EXPERIENCE</h3>

			<p>
				<h5>MANAGER, THE MAILROOM, INC. | NASHVILLE, TN | MARCH TO NOVEMBER 2014</h5>
				Promoted to manager of The Mailroom, Inc. dealing with clients, preparing
				estimates, scheduling daily operations, managing inventories and directly
				working with the owner of the company on business strategies. Streamlined
				workflow with python scripting. Created, and maintained E­commerce websites.
			</p>
			<p>
				<h5>GENERAL LABOR, THE MAILROOM, INC. | NASHVILLE, TN | FEBRUARY 2012 MARCH 2012</h5>
				Started at The Mailroom as a general laborer. Personally handling customer
				orders, managing online stores, and tracking inventory for clients.
			</p>
			<p>
				<h5>SALES REPRESENTATIVE, DELL | NASHVILLE TN 2011 2012</h5>
				Worked at Dell’s call center and helped customers choose the most
				appropriate computer solution for their needs. Completed Dell’s computer
				training program and continually exceeded sales expectations.

			</p>




				<h3><a href="mailto:zacharyswift@gmail.com">EMAIL</a> FOR REFERENCES</h3>



				<table class="table">
					<tr><td>Nathan ****</td> <td>Former Manager</td> <td>Web Developer</td> <td>***-***-****</td></tr>
					<tr><td>Matt ****</td> <td>Friend</td> <td>Software Developer</td> <td>***-***-****</td></tr>
					<tr><td>Russ ****</td> <td>Former Employer</td> <td>Owner</td><td>***-***-****</td></tr>
					<tr><td>Mike ****</td> <td>Former Manager</td> <td>EXA</td><td>***-***-****</td></tr>
				</table>

</div>
</div>
</div>
</body>
</html>
