<!DOCTYPE html>
<html>
<head>
	<title>The Matrix Spoilers</title>
	<link rel="stylesheet" href="css/matrix.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<img src="img/neo.png">
	<div class="wrapper">
	<p class="spoiler">
		<!--Spoiler:-->
		<span>The world you know is just a program.</span>
	</p><br>
	<p class="spoiler">
		<!--Spoiler:-->
		<span>Machines are using us as batteries.</span>
	</p><br>
	<p class="spoiler">
		<!--Spoiler:-->
		<span>Neo can permanently destroy agents.</span>
	</p>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/spoiler.js" type="text/javascript" charset="utf-8"></script>
</div>
</body>
</html>