.img-container{
    height: 500px;
    background: #fff url(../img/lightboxshot.png) no-repeat center center;
    background-size: cover;
}
.header-photo{
    height: 500px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url(../img/desk.JPG) no-repeat center center;
    background-size: cover;
    /*opacity: .1;*/
    text-align:center;
    vertical-align: middle;
}
.grid-container{
    width: 100%;
    /*width: 960px;*/
    margin: 0 auto;
}
.name-text{
    color: white;
    vertical-align: center;
}

.row{
    height: 500px;
}
.row-1{
    background-color: black;
}