body{
	max-width:800px;
	margin:0 auto;
	color:gray;
    font-family:Arial;
}

h1, h2, h3{color:darkslateblue;}

a:link {
    text-decoration: none;
		color: gray;
}

a:visited {
    text-decoration: none;
		color: gray;
}

a:hover {
    text-decoration: underline;
		color: gray;
}

a:active {
    text-decoration: underline;
		color: gray;
}

td{
	padding-right:16px;
	padding-bottom:8px;
}

p{
	color:
}
